@using HRSystemTDH.Models
@model List<MenuEntry>
@{
    ViewBag.Title = "Menu";
    var model = Model;
    Layout = null;
}

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
       
        @if (Model != null && Model.Count() > 0)
            {
            <ul class="nav side-menu">
                @Treeview.GetTreeView(Model, Model.ToList().FirstOrDefault().ParentSlugID)
            </ul>
        }
    </div>

</div>
