#TableGroup tfoot{
    display:table-header-group;
}
#employee{
    min-height:0px !important;
}
.action-link,.table-responsive th{white-space:nowrap;}
<<<<<<< HEAD
.table-responsive th{}
.field-validation-error
=======
.table-responsive th{}
>>>>>>> 76fb5c12c915d59871a1f0459dab4f3e9b3ed29d
